body, p, h1 {
  margin: 0;
  font-family: 'Poppins';
}

#btn {
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  background-color: rgb(138, 35, 135);
  cursor: pointer;
  margin-bottom: 15px;
}

.container {
  padding: 10px;
  background-image: linear-gradient(to right, #741d96, #fc1754);
  width: 200px;
}

.content {
  padding: 5px;
  background-color: white;
}

.title {
  width: 100%;
  display: flex;
  align-items: center;
  place-content: center;
}

.title img {
  width: 25px;
  height: 25px;
  margin-left: 5px;
}

.apikey-div {
  margin-top: 10px;
  padding: 0 10px;
}

.button-holder {
  margin-top: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  place-content: center;
}

p {
  padding: 0 10px;
  text-align: justify;
}

#feedback-registro {
  display: none;
  margin-bottom: 15px;
  color: green;
}